<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Email</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
</head>
<body>
<div class="flex flex-row items">
    <h1 class="text-5xl font-bold my-5 mx-5 relative left-0">Check Email for Breaches</h1>
    <a class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg my-4 mx-4 absolute right-0" href="/">Back to Home</a>
</div>
<div class="flex flex-col items-center mx-10 md:mx20">
    <form class="flex flex-col items-center mb-4"
    hx-post="/check_email"
    hx-target="#table_sources">
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Email
                <input class="input grow" type="email" id="email" name="email" required placeholder="placeholder@site.com" />
            </label>
        </div>
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg" type="submit">Check Email</button>
    </form>
    <table class="table table-zebra table-lg">
        <thead>
            <tr>
                <th>Source</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="table_sources">
            {% include 'table_sources.html' %}
        </tbody>
    </table>
</div>
</body>
</html>
