<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<div class="container box">
    <h1 class="title">Welcome</h1>
    <div class="buttons">
        <a class="button is-primary" href="/random_pass">Password Generator</a>
        <a class="button is-link" href="/check_email">Check Email</a>
    </div>
</div>
</body>
</html>
