<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Generator</title>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    </head>
    <body class="bg-gray-100 flex flex-col">
        <div class="bg-gray-800 text-white p-4 flex justify-between items-center">
            <h1 class="text-5xl font-bold">Password Generator</h1>
            <div class="space-x-2">
                <a class="btn btn-neutral btn-xs sm:btn-sm md:btn-md lg:btn-lg" href="/">Back to Home</a>
            </div>
        </div>
        <div class="flex flex-col items-center mx-10 md:mx-20 space-y-5" x-data="{ length: 10 }">
            <div class="field w-full">
                <form
                        hx-post="/random_pass"
                        hx-target="#pass-value"
                        hx-trigger="change, submit"
                        hx-include="#password-length, #lower-case, #upper-case, #special-chars, #nums"
                        @htmx:afterOnLoad.window="updateHiddenPassword()">
                    <div class="flex flex-row items-center space-y-9 space-x-4">
                        <div class="relative w-full">
                            <input type="range" class="range range-accent w-full mt-6" min="1" max="50" x-model="length" id="password-length" name="length">
                            <div class="absolute mt-2"
                                :style="`left: calc(${(length - 1) / 49 * 100}%); transform: translateX(-50%);`"
                                class="bg-blue-500 text-white p-1 rounded-lg text-xs">
                                <span x-text="length"></span>
                            </div>
                        </div>
                        <div class="flex justify-end mt-3">
                            <button class="btn btn-outline btn-success btn-xs sm:btn-sm md:btn-md lg:btn-lg" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="flex items-center mx-10 md:mx-20 space-x-5">
                        <div class="form-control">
                            <label class="cursor-pointer label">
                                <span class="label-text">Lower Case Chars</span>
                                <input type="checkbox" checked="checked" class="checkbox checkbox-success mx-3" id="lower-case" name="lowercase"/>
                            </label>
                        </div>

                        <div class="form-control">
                            <label class="cursor-pointer label">
                                <span class="label-text">Special Chars</span>
                                <input type="checkbox" checked="checked" class="checkbox checkbox-success mx-3" id="special-chars" name="specialchars"/>
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="cursor-pointer label">
                                <span class="label-text">Numbers</span>
                                <input type="checkbox" checked="checked" class="checkbox checkbox-success mx-3" id="nums" name="nums"/>
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="cursor-pointer label">
                                <span class="label-text">CAPSLOCK</span>
                                <input type="checkbox" checked="checked" class="checkbox checkbox-success mx-3" id="upper-case" name="uppercase"/>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="flex flex-col items-center mx-10 md:mx-20">
                    <strong>Generated Password:</strong><span id="pass-value" name="password">{{ password }}</span>
                    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg my-5" onclick="copyToClipboard()">Copy</button>
                </div>
            </div>
            <div class="flex flex-row mx-10 md:mx-20 space-x-5">
                <form hx-put="/save_password" hx-include="#password-name, #hidden-password, #password-username, #password-email" hx-swap="none" onsubmit="updateHiddenPassword()" class="w-full">
                    <div class="flex flex-col items-center w-full space-y-4">
                        <input class="input input-bordered w-full px-4 py-2 text-lg" type="text" id="password-name" placeholder="Password Name" name="name">
                        <input type="hidden" id="hidden-password" name="password">
                        <input class="input input-bordered w-full px-4 py-2 text-lg" type="text" id="password-username" placeholder="Username for the Account" name="username">
                        <input class="input input-bordered w-full px-4 py-2 text-lg" type="text" id="password-email" placeholder="Email for the Account" name="email">
                        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg my-5" type="submit">Save Password</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function copyToClipboard() {
                const passwordText = document.getElementById('pass-value').innerText;
                navigator.clipboard.writeText(passwordText).then(() => {
                    alert('Password copied to clipboard!');
                });
            }

            function updateHiddenPassword() {
                const passwordText = document.getElementById('pass-value').innerText;
                document.getElementById('hidden-password').value = passwordText;
            }
        </script>
    </body>
</html>
