<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stored Passwords</title>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    </head>
    <body class="bg-gray-100 min-h-screen flex flex-col">
        <div class="bg-gray-800 text-white p-4 flex justify-between items-center">
            <h1 class="text-5xl font-bold">Stored Passwords</h1>
            <div class="space-x-2">
                <a class="btn btn-neutral btn-xs sm:btn-sm md:btn-md lg:btn-lg" href="/">Back to Home</a>
            </div>
        </div>
    <table class="table table-zebra table-lg my-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Length</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
            <tr>
                <td>{{ password.name }}</td>
                <td>{{ password.password }}</td>
                <td>{{ password.length }}</td>
                <td>{{ password.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>
